#set( $title = "Show Jobs" )
#parse("public/top.vm")
<body>
    #if ($jobs)
    <h1>List of all jobs:</h1>
    <div>
        <ol>
        <p>
            #foreach($jb in $jobs)
                <li>
                    <i>$jb.employer.name</i>,
                    a <i>$jb.employer.sector</i> company,
                    recruits for a <i>$jb.title</i> position!

                </li>
            #end
            </p>
        </ol>
    </div>
    #end
#parse("public/bottom.vm")