#set( $title = "Add a job" )
#parse("public/top.vm")
<body>

<h2>Add a new job</h2>
<legend>Add a job:</legend>
<form action="/jobs" method="post" >
    <fieldset>
        <div>
            <label for="Title">Title: </label>
            <input type="text" name="title" placeholder="title" id="title" required />
        </div>
        <br />
        <div>
            <label for="employer">Employer: </label>
            <select name = "employer">
                #foreach($em in $employers)
                    <option value = $em.name selected>$em.name</option>
                #end
            </select>
        </div>
        <br />
        <div>
            <label for="Date posted">Date posted: </label>
            <input type="date" name="date_posted" placeholder="Date_posted" id="Date_posted"  />
        </div>
        <br />
        <div>
            <label for="Deadline">Deadline: </label>
            <input type="date" name="Deadline" placeholder="Deadline" id="Deadline"  />
        </div>

        <br />

        <div>
            <label for="Domain">Domain: </label>
            <input type="text" name="domain" placeholder="domain" id="domain"/>
        </div>

        <br />

        <div>
            <label for="Location">Location: </label>
            <input type="text" name="location" placeholder="location" id="location"/>
        </div>

        <br />

        <div>
            <label for="Full-time">Full-time: </label>
            <select name = "Full-time">
                <option [ngvalue] = "true" selected>Yes</option>
                <option [ngvalue] = "false">No</option>
            </select>
        </div>

        <br />

        <div>
        <label for="salary">Salary/Hourly: </label>
        <select name = "salary">
            <option [ngvalue] = "true" selected>Salary</option>
            <option [ngvalue] = "false">Hourly</option>
        </select>
    </div>

        <br />

        <div>
            <label for="payments">Payments: </label>
            <input type="number" name="payments" id="payments" value="10000">
        </div>

        <br />

        <div>
            <label for="requirements">Requirements: </label>
            <textarea row="10" cols="40" name="requirements" id="requirements"></textarea>
        </div>
        <br />

        <input type="submit" value="Add" id="submitAddEmployer" />
    </fieldset>
</form>

#parse("public/bottom.vm")