#set( $title = "Search Jobs" )
#parse("public/top.vm")

###if($key)
##<h2>Searching Result of <i>$key</i></h2>
##<body>
##    #if ($jobs)
##    <h1>List of all jobs:</h1>
##    <div>
##        <ol>
##        <p>
##            #foreach($jb in $jobs)
##                <li>
##                    <i>$jb.employer.name</i>,
##                    a <i>$jb.employer.sector</i> company,
##                    recruits for a <i>$jb.title</i> position!
##
##                </li>
##            #end
##            </p>
##        </ol>
##    </div>
##    #end
###else
<h1>Search Jobs</h1>
<form action="/search" method="post">
    <fieldset>
        <div>
            <label for="key">Company name, job title, or domain: </label>
            <input type="text" placeholder="key" name="key"/>
        </div>
        <br/>
        <button>search</button>
    </fieldset>
</form>
###end

#parse("public/bottom.vm")